#login-page{
    background-color: black;
    color: white;

    .logo-image{
        border-radius: 50%;
    }

    .form-content{
        width: 300px;
    }

    .login-button{
        padding: 7px 30px;
    }
}